{% extends 'base.html' %}
{% block title %}Token Failure{% endblock %}
{% block content %}
<div id="error_page_content" class="center">
    <p><span class="big_alert fa fa-exclamation-triangle"></span></p>
    {# <h3>{{ reason }}</h3> #}  {# CSRF cookie not set. #}
    <h3 class="bold">You are seeing this message because this site requires a special cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third parties.</h3>
    <h3 class="bold">If you have configured your browser to disable cookies, please re-enable them, at least for this site ({{ request.META.HTTP_HOST }}), or for 'same-origin' requests.</h3>
    {# <h3 class="bold">Please click <a href="">here</a> for more information.</h3> #}  {# TODO: link to privacy page explianing about csrf cookie #}
</div>
{% endblock %}
