{% extends 'base.html' %}
{% block title %}{% if q %}Searching for: '{{ q }}' - {% endif %}Advanced Searching{% endblock %}
{% block content %}
  {% if q %}
    {% if search_mods %}
      <h2 class="center"><span class="bold">{{ search_mods.count }}</span> Search Result{{ search_mods|pluralize }}</h2>
      <h4 class="center">Mods matching '<span class="bold">{{ q }}</span>'</h4>
      {% include 'mod_table.html' with mods=search_mods show_category=True %}
    {% endif %}
    {% if search_mod_cats %}
      <h2 class="center"><span class="bold">{{ search_mod_cats.count }}</span> Search Result{{ search_mod_cats|pluralize }}</h2>
      <h4 class="center">Categories matching '<span class="bold">{{ q }}</span>'</h4>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Mod Count</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for c in search_mod_cats %}
            <tr>
              <td><a class="bold" href="{{ c.get_absolute_url }}">{{ c }}</a></td>
              <td>{{ c.mod_set.count }}</td>
              <td>{{ c.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if search_media_tracks %}
      <h4 class="center"><span class="bold">{{ search_media_tracks.count }}</span> media result{{ search_media_tracks.count|pluralize }}</h4>
      {% for m in search_media_tracks %}
        <div style="padding-bottom: 100px;">
          <div style="clear: left;">
            <a style="float: left; padding-right: 10px;" href="{% url 'media:detail' m.slug %}">{{ m.media_link_300200|safe }}</a>
            <h5 class="bold"><a href="{% url 'media:detail' m.slug %}">{{ m.title }}</a></h5>
            <div>Posted on {{ m.date_added|date:'Y' }}-{{ m.date_added|date:"m" }}-{{ m.date_added|date:"d" }}</div>
            <p>{{ m.description|safe }}</p>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    {% if search_blog_entries %}
      <h4 class="center"><span class="bold">{{ search_blog_entries.count }}</span> blog result{{ search_blog_entries.count|pluralize }}</h4>
      {% for e in search_blog_entries %}
        {% include "item_snippet.html" with item=e %}
      {% endfor %}
    {% endif %}
    {% if not search_blog_entries and not search_mod_cats and not search_mods and not search_media_tracks %}
      <h3 class="center">No results found for "<span class="bold">{{ q }}</span>".</h3>
    {% endif %}
  {% endif %}
  <p class="center">Advanced Search coming soon ...</p>
  {% comment %}
  <h1 class="center">Advanced Search</h1>
  <form action="{% url 'search:advanced' %}" enctype="multipart/form-data" id="adv-search" method="get">
  <h5 class="center">Item Categories</h5>
  <div class="row">
  <div class="three columns">
  <label for="cat-name">Name</label>
  <input class="u-full-width" type="text" placeholder="Item Category Name" id="cat-name" name="a">
  </div>
  <div class="six columns">
  <label for="cat-desc">Description</label>
  <input class="u-full-width" type="text" placeholder="Item Category Description" id="cat-desc" name="b">
  </div>
  <div class="search-checkbox three columns">
  <label>
  <input id="cat-search" type="checkbox" name="c">
  <span class="label-body">Search Item Categories</span>
  </label>
  </div>
  </div>
  <h5 class="center">Items</h5>
  <div class="row">
  <div class="three columns">
  <label for="item-name">Name</label>
  <input class="u-full-width" type="text" placeholder="Item Name" id="item-name" name="d">
  </div>
  <div class="three columns">
  <label for="item-cat">Category</label>
  <input class="u-full-width" type="text" placeholder="Item Category" id="item-cat" name="e">
  </div>
  <div class="three columns">
  <label for="item-order">Order</label>
  <input class="u-full-width" type="text" placeholder="Orders to check" id="item-order" name="f">
  </div>
  <div class="search-checkbox three columns">
  <label>
  <input id="item-search" type="checkbox" name="g">
  <span class="label-body">Search Items</span>
  </label>
  </div>
  </div>
  <div class="row">
  <div class="three columns">
  <label for="item-notes">Notes</label>
  <input class="u-full-width" type="text" placeholder="Item Notes" id="item-notes" name="h">
  </div>
  <div class="three columns">
  <label for="item-created">Created At</label>
  <input class="u-full-width" type="text" placeholder="Time Item was created" id="item-created" name="i">
  </div>
  <div class="three columns">
  <label for="item-updated">Updated At</label>
  <input class="u-full-width" type="text" placeholder="Time Item was updated" id="item-updated" name="j">
  </div>
  <div class="search-checkbox three columns">
  <label>
  <input id="item-active" type="checkbox" name="k">
  <span class="label-body">Is Active</span>
  </label>
  </div>
  </div>
  </form>
  {% endcomment %}
{% endblock %}
