{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block content %}
  <div>
    <h4 class="bold center">The Modding-OpenMW.com Blog {% include 'latest_entries_rss_link.html' with text=False %}</h4>
    {% for e in entry_list %}
      {% include "item_snippet.html" with item=e %}
    {% empty %}
      <h3 class="center" style="margin-left: 110px;">Is coming soon!</h3>
    {% endfor %}
    {% include 'paginate.html' %}
  </div>
{% endblock %}
