{% extends 'base.html' %}
{% block title %}Tags{% endblock %}
{% block content %}
  <div class="center">
    <h2 class="bold center">Tags</h2>
    {% for t in tags %}
      <span style="font-size: {{ t.tag_cloud_size }}em;"><a class="tag_cloud_tag" href="{{ t.get_absolute_url }}">{{ t }}</a></span>{% if not forloop.last %}&nbsp;{% endif %}
    {% endfor %}
  </div>
{% endblock %}
