{% extends 'base.html' %}
{% block title %}App Info: {{ this_site }} - {% if tag %}{{ tag }}{% else %}{{ sha }}{% endif %}{% endblock %}
{% block content %}
  <h4 class="bold center">App Info: {{ this_site }}</h4>
  {% if tag_release %}
    <div class="row">
      <div class="twelve columns">
        <h5 class="bolder center"><code>{{ tag }}</code></h5>
      </div>
    </div>
  {% else %}
  <div class="row">
    <div class="twelve columns">
      <h5 class="bolder center"><code>{{ sha }}</code></h5>
    </div>
  </div>
  {% endif %}
{% endblock %}
