{% extends 'base.html' %}
{% block title %}Website Changelog{% endblock %}
{% block content %}

  <h2>Website Changelog</h2>

  <h3>Release: <span class="bold">6.7.1</span></h3>
  <ul>
    <li>Fixed a problem where mod list sublists would not show the right usage notes, data paths, and other relevent information</li>
	<li>Re-added automated, full browser testing for the website</li>
	<li>Fixed several other backend issues</li>
  </ul>

  <h3>Release: <span class="bold">6.6.0</span></h3>
  <ul>
    <li>Updated the Final Steps pages of each mod list to provide better information.</li>
	<li>Updated the verbose section of the Users' Guide to be a better companion to the bullet-list overview.</li>
	<li>Updated the Mod Lists page to reflect a consistent order and removed Tes3MP Server as it has been discontinued.</li>
  </ul>

  <h3>Release: <span class="bold">6.5.1</span></h3>
  <ul>
    <li>Fixed a Chrome-specific bug that broke entering a mod base folder on the user settings page.</li>
  </ul>

  <h3>Release: <span class="bold">6.5.0</span></h3>
  <ul>
    <li>Mod detail pages now link to a GitLab search for issues relating to that mod.</li>
    <li>Added the ability for users to opt into dev build features for mods that may have them
      <ul>
        <li>Specifically: this affects mods that are not dev build-exclusive themselves but may have individual options or features that do require a dev build of OpenMW</li>
      </ul>
    </li>
    <li>Mod list presets no longer include <a href="{% url 'mod_tag_detail' slug='dev-build-only' %}">Dev Build Only</a> mods by default.</li>
    <li>Added a way to present folder paths in the folder deploy script but not as part of the CFG Generator's output.</li>
    <li>Broken links in the various mod list changelogs have been fixed, and measures added to prevent that in the future.</li>
  </ul>

  <h3>Release: <span class="bold">6.4.0</span></h3>
  <ul>
    <li>The Developers' Guide was updated to reflect the new ways of interacting with the website codebase (since Postgres was dropped).</li>
  </ul>

  <h3>Release: <span class="bold">6.2.0</span></h3>
  <ul>
    <li>Links from mod and mod list detail pages now give fancier Discord link previews.</li>
    <li>Fixed a bug in the folder deploy script that caused it to create more folders than it needed to</li>
  </ul>

  <h3>Release: <span class="bold">6.1.0</span></h3>
  <ul>
    <li>Added a button to clear your website data on <a href="{% url 'user_settings' %}">the settings page</a>.</li>
  </ul>

  <h3>Release: <span class="bold">6.0.0</span></h3>
  <ul>
    <li>New mod list: <a href="{% url 'mod-list-detail' slug='just-good-morrowind' %}">Just Good Morrowind</a></li>
    <li>Rewrote the site search to hopefully provide better results:
      <ul>
        <li>You can omit punctuation e.g., <code>Apels</code> instead of <code>Apel's</code> and get a match</li>
        <li>You can omit certain characters e.g., <code>OAAB Data</code> instead of <code>OAAB_Data</code> and get a match</li>
        <li>Search for abbreviations e.g., <code>BCOM</code> will match <a href="{% url 'mod_detail' slug='beautiful-cities-of-morrowind' %}">Beautiful Cities of Morrowind</a>.</li>
      </ul>
    </li>
    <li>The database backend was switched from PostreSQL to Sqlite.</li>
    <li><a href="{% url 'gs-directories' %}">The Managing Mods page</a> now offers a helper script to create all the needed folders for a given mod list</li>
    <li>Updated <a href="{% url 'cfg_generator3' %}">the CFG Generator</a> to allow partial configs, useful for testing your setup as you progress through a list</li>
    <li>Rewrote <a href="{% url 'guides-users' %}">the Users' Guide page</a> to reflect the numerous changes introduced in this update</li>
  </ul>

  <h3>Release: <span class="bold">5.10.2</span></h3>
  <ul>
    <li>Added more information, OS and tool specific guides, and a table of contents for <a href="{% url 'tips-cleaning' %}">Tips: Cleaning Plugins With TES3CMD</a></li>
  </ul>

  <h3>Release: <span class="bold">5.10.1</span></h3>
  <ul>
    <li>Added a disclaimer to the generic mod detail page about the information being list non-specific.</li>
  </ul>

  <h3>Release: <span class="bold">5.10.0</span></h3>
  <ul>
    <li>The <a href="{% url 'guides-users' %}">Users' Guide</a> has been updated with a section specifically about how to use the website including a new <a href="{% url 'example-mod-page' %}">Example Mod Page</a> to brief users on how to use each field on a mod detail page.</li>
    <li>The <a href="{% url 'user_settings' %}">Settings</a> page that has two new features: You can set your root folder and base Morrowind Data Files folder paths to personalize the output generated by the website on every mod page and the CFG Generator to reflect your own setup.</li>
    <li>Mod pages have been visually updated for better usability. General mod information is now separate from installation information. A new link to the <a href="{% url 'example-mod-page' %}">Example Mod Page</a> has been added at the top of each mod detail page to remind users how to use each field on these pages.</li>
    <li>Data used by the <a href="{% url 'cfg_generator' %}">CFG Generator</a> has been reformatted to get rid of nasty hacks and provide more accuracy for every mod list preset. As a result many errors were corrected and you should compare your openmw.cfg to the new CFG Generator output.</li>
    <li>Data used to generate usage notes, data paths, and plugins have been reformatted to provide more flexibility in how they are presented on a per-list basis. Mod list users will now only see usage notes, plugins, and data paths depending on the list they're following.</li>
    <li>Usage Notes have been updated for readability and consistency in language. All instances of data paths and plugins have been removed since they are now handled automatically in their respective fields.</li>
    <li>The <a href="{% url 'cfg_generator' %}">CFG Generator</a> page has been visually updated for readability. Code blocks on the preset pages now have a handy <code>Copy to clipboard</code> button.</li>
    <li>The website now presents <a href="{% url 'mod_category_detail' slug='wabbajack-lists' %}">curated Wabbajack-based mod lists</a> which are not directly affiliated with the site team but are endorsed by them.</li>
    <li>We're also proud to present the all new, original game <a href="{% url 'mod_detail' slug='rwc-robowind' %}">RWC (Robowind)</a> which is made with the OpenMW engine.</li>
    <li>Added an element to the front page where you can watch the website being worked on live every Saturday and Sunday at 11am CDT. Check out the stream to ask questions about the website or to catch a sneak peek at what's to come!</li>
  </ul>

  <h3>Release: <span class="bold">5.9</span></h3>

  <ul>
    <li>The majority of plugins that needed to be cleaned are now no longer listed as such thanks to <a href="{% url 'mod_detail' slug='delta-plugin' %}">DeltaPlugin</a> auto-cleaning them.</li>
  </ul>

  <h3>Release: <span class="bold">5.8</span></h3>

  <ul>
    <li>Updated plugin load orders based on the latest Mlox build and rules.</li>
  </ul>

  <h3>Release: <span class="bold">5.7</span></h3>

  <ul>
    <li>Fixed a wrongful omission of the plugin for <a href="{% url 'mod_detail' slug='caldera-mine-expanded' %}">Caldera Mine Expanded</a> on <a href="{% url 'cfg_generator' %}">the CFG Generator</a> for Total Overhaul and Expanded Vanilla presets.</li>
  </ul>

  <h3>Release: <span class="bold">5.6</span></h3>

  <ul>
    <li>Redesigned the website index page with the hope that it's easier to find relevant information for newcomers and veterans alike.</li>
  </ul>

  <h3>Release: <span class="bold">5.5</span></h3>

  <ul>
    <li>Added this changelog to document general changes to the website.</li>
    <li>Added notes to the contact and feedback pages about long wait times for responses.</li>
    <li>Fixed problems with the CFG Generator and the special handling of <a href="{% url 'mod_detail' slug='distant-seafloor-for-openmw' %}">Distant Seafloor for OpenMW</a></li>
    <li>Added a note to the CFG Generator page about the in-progress status of the feature.</li>
  </ul>

  <div class="center">
  {% include 'main-nav.html' with cur_page="changelogs-website" %}
  </div>

{% endblock %}
