{% extends 'base.html' %}
{% block title %}Mod List Changelogs{% endblock %}
{% block content %}

  <h2>Mod List Changelogs</h2>

  <ul>
    <li><a href="{% url 'mod-list-changelog' slug='total-overhaul' %}">Total Overhaul</a></li>
    <li><a href="{% url 'mod-list-changelog' slug='expanded-vanilla' %}">Expanded Vanilla</a></li>
    <li><a href="{% url 'mod-list-changelog' slug='graphics-overhaul' %}">Graphics Overhaul</a></li>
    <li><a href="{% url 'mod-list-changelog' slug='i-heart-vanilla' %}">I Heart Vanilla</a></li>
    <li><a href="{% url 'mod-list-changelog' slug='i-heart-vanilla-directors-cut' %}">I Heart Vanilla: Director's Cut</a></li>
    <li><a href="{% url 'mod-list-changelog' slug='just-good-morrowind' %}">Just Good Morrowind</a></li>
    <li><a href="{% url 'mod-list-changelog' slug='one-day-morrowind-modernization' %}">One Day Morrowind Modernization</a></li>
    <li><a href="{% url 'mod-list-changelog' slug='starwind-modded' %}">Starwind: Modded</a></li>
  </ul>

  <div class="center">
  {% include 'main-nav.html' with cur_page="changelogs" %}
  </div>

{% endblock %}
