{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="center">
    <h3 class="center">{{ title }}</h3>
    <div><p>Below is a list of <span class="bold">{{ mods.count }}</span> mods that are {{ status }}.</p></div>
      <p class="center">
        {% include 'mods-nav.html' with cur_page=status %}
      </p>
    {% include 'mod_table.html' with mods=mods show_category=True %}
  </div>

  {% include "main-nav.html" with cur_page="all_mods" prev_link=False next_link=False %}

{% endblock %}
