{% extends 'base.html' %}
{% block title %}Mod Compatibility{% endblock %}
{% block content %}

  <h2 class="bold center">Mod Compatibility</h2>

  <p class="center">Below are the compatibility ratings you might find on a mod.</p>

  <div id="fully-working">
    <h4><a href="{% url 'fully_working' %}">Fully Working</a></h4>
    <p>These mods work with no issues or extra work needed.</p>
  </div>

  <div id="partial-working">
    <h4><a href="{% url 'partial_working' %}">Partially Working</a></h4>
    <p>These mods work, but they might require some extra work (file rename, mesh edit, etc.)</p>
  </div>

  <div id="not-working">
    <h4><a href="{% url 'not_working' %}">Not Working</a></h4>
    <p>These mods do not work at all, for one reason or another.</p>
  </div>

  <div id="unknown">
    <h4><a href="{% url 'compat_unknown' %}">Unknown</a></h4>
    <p>The status of these mods is unknown... Do you know if it works?  <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">Please let us know</a>!</p>
  </div>

{% endblock %}
