{% extends 'base.html' %}
{% block title %}Enable In CFG Generator Button "HOW TO" Page{% endblock %}
{% block content %}

  <h1>Enable In CFG Generator Button "HOW TO" Page</h1>

  <p>
    The "Enable In CFG Generator" button can be seen on mod detail pages. Click this button to tell the CFG Generator to include the mod in its output.
  </p>

  <p>
    While progressing through a mod list, you should click this button for each mod you've installed. You may then follow these steps to see a customized, partial config based on your progress:
  </p>

  <ol>
    <li>Navigate to <a href="{% url 'cfg_generator' %}">the CFG Generator</a></li>
    <li>Click the preset button for the list you're using</li>
    <li>On the next page, click the link labeled "Custom CFG Section"</li>
    <li>This will take you to a list of mods in the list, Ones you've clicked this button for will be checked</li>
    <li>From here you may check or uncheck mods that you've setup, removed, or skipped</li>
    <li>Below the list of mods is a button labeled "Submit Custom Setup", click that to receieve your customized configs</li>
  </ol>

  <p>
    The resulting page will be a modified loadout of the mod list preset you selected listing only the ones you've added via the button or check box. This pattern will allow gradual testing with accurate configs.
  </p>

{% endblock %}
