{% if request.path != "/settings/" %}
<div class="center">
  <a id="settings" class="button button-primary" href="{% url 'user_settings' %}">Settings</a>
</div>
{% endif %}

<div id="footer-nav" class="center">
  <a href="{% url 'cfg_generator' %}">CFG Generator</a> | <a href="{% url 'mod_categories' %}">Categories</a> | <a href="{% url 'faq' %}">FAQ</a> | <a href="{% url 'getting_started' %}">Getting Started</a> | <a href="/name-generator/">Name Generator</a> | <a href="{% url 'resources' %}">Resources</a> | <a href="{% url 'mod_tags' %}">Tags</a> | <a href="{% url 'tips' %}">Tips</a> | <a href="{% url 'faq-tooling' %}">Tooling FAQ</a> | <a href="https://modding-openmw.gitlab.io/update-center/">Mod Update Center</a>{% if not momw_ver %} | <a href="https://beta.modding-openmw.com/">BETA.Modding-OpenMW.com</a>{% endif %}
</div>

<div id="copyright" class="center">
  &copy; {{ now|date:'Y' }} | <span class="bold"><a id="bottom" href="{% url 'index' %}">{% if momw_ver %}{{ momw_ver }}.{% endif %}{{ this_site }}</a></span>{% if momw_ver %} rev: <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/blob/{{ momw_sha }}">{{ momw_rev }}</a>{% endif %} | <a href="{% url 'about' %}">About</a> | <a href="https://gitlab.com/modding-openmw/modding-openmw.com{% if momw_ver %}/-/blob/beta{% endif %}">Website Source Code</a> | <a href="{% url 'privacy' %}">Your Privacy</a> | <a href="{% url 'cookie' %}">Cookie Policy</a> | Not directly affiliated with <a href="http://openmw.org/">the OpenMW project</a>.
</div>

<div id="license" class="center">
  {% if DEBUG %}
    {% load static %}<a href="https://stats.modding-openmw.com/"><img src="{% static 'goat_counter.png' %}" title="Stats by GoatCounter."></a>
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"> <img src="{% static 'gplv3-88x31.png' %}" alt="GPLv3 logo" title="This site's source code is licensed under the GPLv3."></a>
  {% else %}
    <a href="https://stats.modding-openmw.com/"><img src="/goat_counter.png" title="Stats by GoatCounter."></a>
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html"> <img src="/gplv3-88x31.png" alt="GPLv3 logo" title="This site's source code is licensed under the GPLv3."></a>
  {% endif %}
</div>

