{% extends 'base.html' %}
{% block title %}Getting Started: Tweak Settings{% endblock %}
{% block content %}

  {% include "gs-nav.html" with cur_page="gs-settings" prev_link='/getting-started/install/' next_link='/getting-started/directories/' %}

  <h3 class="center">Getting Started: <span class="bold">Tweak Settings</span></h3>

  <p>Table Of Contents:</p>
  <ul>
    <li><a href="#recommended-tweaks">Recommended tweaks</a></li>
    <li><a href="#performance-tweaks">Performance tweaks</a></li>
    <li><a href="#subjective-tweaks">Subjective tweaks</a></li>
    <li><a href="#all-tweaks">All tweaks</a></li>
    <li><a href="#a-note-about-performance">A Note About Performance</a></li>
  </ul>

  <p>All of the settings mentioned on this page should go into a file named <code>settings.cfg</code>.  If you aren't sure where that is or should be (you create it if it doesn't exist, and simply add values as needed, or alternatively run OpenMW to generate the file) then please consult <a href="https://openmw.readthedocs.io/en/latest/reference/modding/paths.html#configuration-files-and-log-files">this page</a>.</p>

  {# TODO a note about using the launcher or totally rewrite for the launcher..... #}

  <p>It's recommended to consult <a href="https://openmw.readthedocs.io/en/latest/reference/modding/settings/index.html">the official documentation on settings</a> for detailed information about what any of these do.</p>

  <h4 id="recommended-tweaks"><a href="#recommended-tweaks">Recommended tweaks</a></h4>

  <p>Below is a list of recommended settings tweaks, by section.</p>

  <h5><code>[GUI]</code></h5>

  <ul>
    <li><code>stretch menu background = true</code>: Enable main menu mods to work by not forcing a 4:3 aspect ratio.</li>
    <li><code>color topic enable = true</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span>  Darken conversation topics that have already been selected.</li>
  </ul>

  <h5><code>[Groundcover]</code></h5>

  <ul>
    <li><code>enabled = true</code>: Enable groundcover mods.</li>
  </ul>

  <h5><code>[Game]</code></h5>

  <ul>
    <li><code>turn to movement direction = true</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span>  If enabled then the character turns their lower body to the direction of movement.  This means they actually run sideways instead of bunny hop.</li>
    <li><code>use additional anim sources = true</code>: As the name implies, it allows the engine to load external animation sources.</li>
    <li><code>weapon sheathing = true</code>: Enable weapon sheathing mods.</li>
    <li><code>swim upward correction = true</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> Makes player swim a bit upward from the line of sight.</li>
    <li><code>smooth movement = true</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> Smooths out player movements (for instance, transitioning from standing still to running).</li>
    <li><code>NPCs avoid collisions = true</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> Makes all actors (NPC, etc) try to avoid collisions with other actors.</li>
  </ul>

  <h5><code>[Shaders]</code></h5>

  <ul>
    <li><code>antialias alpha test = true</code>: Produces better-looking edges without pixelation for things like groundcover.</li>
    <li><code>apply lighting to environment maps = true</code>: Allows "bump maps" made for vanilla Morrowind and MGE XE to look more correct with OpenMW.</li>
    <li><code>force shaders = true</code>: As the name implies, this force-enables shaders. Needed for lighting changes below.</li>
    <li><code>clamp lighting = false</code>: Gives lighting a more dynamic look.</li>
    <li><code>auto use object normal maps = true</code>: Enable usage of normal maps.</li>
    <li><code>auto use object specular maps = true</code>: Enable usage of specular maps.</li>
    <li><code>auto use terrain normal maps = true</code>: Enable usage of normal maps for terrain.</li>
    <li><code>auto use terrain specular maps = true</code>: Enable usage of specular maps for terrain.</li>
    <li><code>lighting method = shaders</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> Use OpenMW's more advanced lighting system. If you have a low-end GPU you should set this to <code>shaders compatibility</code>.</li>
    <li><code>maximum light distance = 16384</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> This will double the render distance for lighting, and may have a performance cost on lower-end systems.</li>
    <li><code>max lights = 64</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> Raise the light limit enough to eliminate all light pop-in. You can probably get away with <code>32</code> if you're only playing with vanilla Morrowind content, but plenty of mods surpass that and you'll see pop-in.</li>
  </ul>

  <h5><code>[Fog]</code></h5>

  <ul>
    <li><code>radial fog = true</code>: Give fog a nicer look, especially when using a wide FOV.</li>
  </ul>

  <p>All changes mentioned above, in one:</p>

  <pre><code>[GUI]
stretch menu background = true
color topic enable = true

[Groundcover]
enabled = true

[Game]
use additional anim sources = true
turn to movement direction = true
weapon sheathing = true
swim upward correction = true
smooth movement = true
NPCs avoid collisions = true

[Shaders]
antialias alpha test = true
apply lighting to environment maps = true
force shaders = true
clamp lighting = false
auto use object normal maps = true
auto use object specular maps = true
auto use terrain normal maps = true
auto use terrain specular maps = true
lighting method = shaders
maximum light distance = 16384
max lights = 64

[Fog]
radial fog = true</code></pre>

  <h4 id="performance-tweaks"><a href="#performance-tweaks">Performance tweaks</a></h4>

  <p>These settings will impact performance and may require a more powerful computer.</p>

  <h5><code>[Shadows]</code></h5>

  <ul>
    <li><code>enable shadows = true</code>: Enables shadows in general.</li>
    <li><code>actor shadows = true</code>: Enables shadows on NPCs other actors.</li>
    <li><code>player shadows = true</code>: Enables shadows on the player.</li>
    <li><code>terrain shadows = true</code>: Enables terrain shadows.</li>
    <li><code>object shadows = true</code>: Enables object shadows.</li>
    <li><code>enable indoor shadows = true</code>: Enables indoor shadows - this may be undesireable due to a known issue that causes Morrowind's game data to allow shadows to render between floors.  If this is not something you want to see, then disable this option.</li>
  </ul>

  <h5><code>[Terrain]</code></h5>

  <ul>
    <li><code>distant terrain = true</code>: This enables rendering distant terrain and objects.  It comes with a high performance cost but tends to vastly improve the look and experience.</li>
    <li><code>object paging active grid = true</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> Enables object paging for the active grid of cells (the ones immediately surrounding the player).  This could provide a performance boost; you may want to try with this enabled and with it disabled to see if you notice a difference either way.</li>
    <li><code>object paging min size = 0.023</code>: <span class="bold">NOTE: This feature requires OpenMW 0.47 or newer!</span> Another setting to reduce the amount of objects that are drawn in the distance. This is the most aggressive of the object paging settings, and it may be worthwhile to play with values for this to find what works best on your system.</li>
  </ul>

  <p>All changes mentioned above, in one:</p>

  <pre><code>[Shadows]
enable shadows = true
actor shadows = true
player shadows = true
terrain shadows = true
object shadows = true
enable indoor shadows = true

[Terrain]
distant terrain = true
object paging active grid = true
object paging min size = 0.023</code></pre>

  <h4 id="subjective-tweaks"><a href="#subjective-tweaks">Subjective tweaks</a></h4>

  <p>Whether or not you should use these depends on personal preference and/or the capabilities of your computer/device.  In particular, increasing the <code>viewing distance</code> setting may require a powerful machine.  These values should be tuned up or down depending on your setup.</p>

  <h5><code>[Game]</code></h5>

  <ul>
    <li><code>can loot during death animation = false</code>: This is commonly seen as an exploit; setting <code>false</code> here prevents an arguably cheesey way to grind for money.</li>
    <li><code>use magic item animations = true</code>: Prevents spamming enchantments by playing an animation; you can't cast again until the animation completes.</li>
    <li><code>rebalance soul gem values = true</code>: Recalculates the prices of Soul Gems containing souls to make them much less expensive, making it more difficult for you to accumulate game-breaking amount of wealth.</li>
  </ul>

  <h5><code>[Groundcover]</code></h5>

  <ul>
    <li><code>stomp intensity = 2</code>: Determines how grass should respond to the player treading on it.</li>
  </ul>

  <p>All changes mentioned above, in one:</p>

  <pre><code>[Game]
can loot during death animation = false
use magic item animations = true
rebalance soul gem values = true</code></pre>

  <h4 id="all-tweaks"><a href="#all-tweaks">All tweaks</a></h4>

  <p>Everything mentioned above in one place, for easy copying.</p>

  <pre><code>[GUI]
stretch menu background = true
color topic enable = true

[Groundcover]
enabled = true
stomp intensity = 2

[Game]
use additional anim sources = true
turn to movement direction = true
weapon sheathing = true
can loot during death animation = false
use magic item animations = true
swim upward correction = true
smooth movement = true
NPCs avoid collisions = true
rebalance soul gem values = true

[Shaders]
antialias alpha test = true
apply lighting to environment maps = true
force shaders = true
clamp lighting = false
auto use object normal maps = true
auto use object specular maps = true
auto use terrain normal maps = true
auto use terrain specular maps = true
lighting method = shaders
maximum light distance = 16384
max lights = 64

[Fog]
radial fog = true

[Shadows]
enable shadows = true
actor shadows = true
player shadows = true
terrain shadows = true
object shadows = true
enable indoor shadows = true

[Terrain]
distant terrain = true
object paging active grid = true
object paging min size = 0.023</code></pre>


  <h4 id="a-note-about-performance"><a href="#a-note-about-performance">A Note About Performance</a></h4>

  <p>
    Please see <a href="/tips/performance/">this page</a> for a more detailed look at the various settings that will have the biggest impact on your performance, and how to test the performance of your setup.
  </p>

  {% include "gs-nav.html" with cur_page="gs-settings" prev_link='/getting-started/install/' next_link='/getting-started/directories/' %}

  {% include "main-nav.html" with cur_page="gs-settings" prev_link=False next_link=False %}

{% endblock %}
