{% extends 'base.html' %}
{% block title %}Modders' Guide{% endblock %}
{% block content %}
  {% include "main-nav.html" with cur_page="guides_modders" %}
  <h1>Modders' Guide</h1>
  <p>
    COMING SOON...
  </p>
{% endblock %}
