<div id="mod-list-detail-grid">
  <div>Step</div>
  <div>Name</div>
  <div class="mobile-hide">Author</div>
  <div class="mobile-hide">Description</div>
  {% for lm in listed_mods %}
    <div class="modcount">
      {% if is_parent %}
        <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.get_slug lm.parent_order %}">#{{ lm.parent_order }}</a>
      {% else %}
        <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.modlist.slug lm.order_number %}">#{{ lm.order_number }}</a>
      {% endif %}
    </div>
    <div class="modname">
      {% if is_parent %}
        <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.get_slug lm.parent_order %}">{{ lm.mod.name }}</a>
      {% else %}
        <a class="step-num mod-detail-link" href="{% url 'mod-list-step-detail' lm.modlist.slug lm.order_number %}">{{ lm.mod.name }}</a>
      {% endif %}
    </div>
    <div class="mobile-hide modauthor">
      {{ lm.mod.author|striptags|truncatewords:6 }}
    </div>
    <div class="mobile-hide moddesc">
      {{ lm.mod.description|striptags|truncatewords:8 }}
    </div>
  {% endfor %}
</div>
