{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock %}
{% block content %}

  <div id="mod-detail">
    <h4 class="center">{{ category }} | {{ category.mod_set.count }} mod{{ category.mod_set.count|pluralize }}</h4>
    <p class="center">{{ category.description|safe }}</p>
    <div class="center" style="margin-top: -20px;"><a href="{% url 'mod_categories' %}">All categories</a> </div>
  </div>

  {% include 'mod_table.html' with mods=cat_mods show_category=False %}

{% endblock %}
