{% extends 'base.html' %}
{% block title %}{% if q %}Searching for: '{{ q }}' - {% endif %}Search{% endblock %}
{% block content %}
  {% if q %}
      <h2 class="center"><span class="bold">{{ results_mods|length }}</span> Search Result{{ results_mods|pluralize }}</h2>
      {% if results_mods %}
        <h3 class="center">Mods matching '<span class="bold">{{ q }}</span>'</h3>
        <div id="search-results-grid">
        <div>Name</div>
        <div class="mobile-hide">Author</div>
        <div>Category</div>
        <div class="mobile-hide">Description</div>
        {% for m in results_mods %}
          <div class="modname">
            <a class="step-num" href="{% url 'mod_detail' m.slug %}">{{ m.name }}</a>
          </div>
          <div class="mobile-hide modauthor">
            {{ m.author|striptags|truncatewords:6 }}
          </div>
          <div class="modcount">
            <a href="{% url 'mod_category_detail' m.category.slug %}">{{ m.category }}</a>
          </div>
          <div class="mobile-hide moddesc">
            {{ m.description|striptags|truncatewords:8 }}
          </div>
        {% endfor %}
      </div>
      {% else %}
      <p class="center">No results matching "<span class="bold">{{ q }}</span>" were found!</p>
      {% endif %}
  {% else %}
    <h2 class="bold center">Mod Database Search</h2>
    <p>
      Please use the search bar at the top of the page to search mods in the database. Name, author, and description will be searched against.
    </p>
  {% endif %}

  {% comment %}
    <h1 class="center">Advanced Search</h1>
    <form action="{% url 'search' %}" enctype="multipart/form-data" id="search" method="get">
      <h5 class="center">Search Criteria</h5>
      <div class="row">
        <div class="three columns">
          <label for="cat-name">Name</label>
          <input class="u-full-width" type="text" placeholder="Item Category Name" id="cat-name" name="a">
        </div>
        <div class="six columns">
          <label for="cat-desc">Description</label>
          <input class="u-full-width" type="text" placeholder="Item Category Description" id="cat-desc" name="b">
        </div>
        <div class="search-checkbox three columns">
          <label>
            <input id="cat-search" type="checkbox" name="c">
            <span class="label-body">Search Item Categories</span>
          </label>
        </div>
      </div>
      <h5 class="center">Items</h5>
      <div class="row">
        <div class="three columns">
          <label for="item-name">Name</label>
          <input class="u-full-width" type="text" placeholder="Item Name" id="item-name" name="d">
        </div>
        <div class="three columns">
          <label for="item-cat">Category</label>
          <input class="u-full-width" type="text" placeholder="Item Category" id="item-cat" name="e">
        </div>
        <div class="three columns">
          <label for="item-order">Order</label>
          <input class="u-full-width" type="text" placeholder="Orders to check" id="item-order" name="f">
        </div>
        <div class="search-checkbox three columns">
          <label>
            <input id="item-search" type="checkbox" name="g">
            <span class="label-body">Search Items</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <label for="item-notes">Notes</label>
          <input class="u-full-width" type="text" placeholder="Item Notes" id="item-notes" name="h">
        </div>
        <div class="three columns">
          <label for="item-created">Created At</label>
          <input class="u-full-width" type="text" placeholder="Time Item was created" id="item-created" name="i">
        </div>
        <div class="three columns">
          <label for="item-updated">Updated At</label>
          <input class="u-full-width" type="text" placeholder="Time Item was updated" id="item-updated" name="j">
        </div>
        <div class="search-checkbox three columns">
          <label>
            <input id="item-active" type="checkbox" name="k">
            <span class="label-body">Is Active</span>
          </label>
        </div>
      </div>
    </form>
  {% endcomment %}
{% endblock %}
