{% extends 'base.html' %}
{% block title %}TES3MP @ Modding-OpenMW.com{% endblock %}
{% block header %}
  <div class="container{% if momw_ver %} mobile-banner-pad{% endif %}">
    <div class="row">
      <div class="twelve columns"><h1 class="bold center"><a href="" class="noul" style="color: #666668;">TES3MP</a> @ <a class="noul" href="{% url 'index' %}">Modding-OpenMW<span class="smallb">.com</span></a></h1></div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <p class="center">The server is temporarily offline, check back soon!</p>
  {% comment %}
  <p class="center">TES3MP servers hosted by your site admin.  Featuring one vanilla server and one lightly modded server, each containing an assortment of server-side scripts to add features and improve player quality of life.</p>

    <li>Useful commands:</li>
    <ul>
      <li><code>/a | /anim</code> -- Open a GUI for playing animations (<a href="https://gitlab.com/rendeko/tes3mp-scripts/tree/master/jrpAnim">jrpAnim</a>)</li>
      <li><code>/house</code> -- RealEstate house-buying commands</li>
      <li><code>/status</code> -- See or set your personal status (<a href="https://gitlab.com/rendeko/tes3mp-scripts/tree/master/jrpStatus">jrpStatus</a>)</li>
      <li><code>/mark</code> or <code>/recall</code> -- use multiple mark/recall points</li>
    </ul>
  </ul>

  <p class="center">Join the chat at <span class="bold"><a href="https://webchat.freenode.net?channels=%23momw&uio=d4">#momw on Freenode</a></span>!</p>

  <div id="how-to-join">
    <h3 class="center" id="vanilla-server"><a class="bold" href="#vanilla-server">How To Join The Vanilla Server</a> | <a href="https://tes3mp.modding-openmw.com/vanilla/">LiveMap</a></h3>
    <h5 class="center"><span class="bold">No client side mods!</span></h5>

    <ol>
      <li>Install Morrowind GOTY Edition.</li>
      <li>Ensure OpenMW is set up and pointed to your Morrowind game data (see config example below).  If you've never ran OpenMW, run <code>openmw-wizard.exe</code> to set that up (or <code>openmw-wizard</code> if you aren't on Windows).</li>
      <li>Get the latest TES3MP 0.7.0-alpha client package for your OS from <a href="https://github.com/TES3MP/openmw-tes3mp/releases/tag/0.7.0-alpha">this page</a>.</li>
      <li>Back up your existing <code>openmw.cfg</code> before editing it.</li>
      <li>The datapaths and content lines to your <code>openmw.cfg</code>, it should look something like this:
        <pre style="text-align: left; margin: 0 auto; padding-top: 20px;"><code># BSA Section:
fallback-archive=Morrowind.bsa
fallback-archive=Tribunal.bsa
fallback-archive=Bloodmoon.bsa
... truncated ...
# This is where the Morrowind data should live, adjust as needed.
data="./data"
... truncated ...
content=Morrowind.esm
content=Tribunal.esm
content=Bloodmoon.esm</code></pre>
      </li>
      <li>To join the server, open the <code>tes3mp-client-default.cfg</code> file and make sure it says <code>destinationAddress = tes3mp.modding-openmw.com</code> and <code>port = 25565</code> under the <code>[General]</code> section.</li>
    </ol>

    <p class="bold center">A special thanks to <a href="https://the-cornerclub.com/">The Cornerclub</a>, whose server and scripts have been a huge help and inspiration to this one, as well as all the fine folks at the TES3MP Discord server.</p>

    <div class="line"></div>

    {% include "main-nav.html" with cur_page="tes3mp_server" %}

    {% endcomment %}
{% endblock %}
