{% extends 'base.html' %}
{% block title %}Tips: File Renames{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">File Renames</span></h3>

  {% include "tips-nav.html" with cur_page="tips-file-renames" %}

  <p>Please see <a href="https://openmw.readthedocs.io/en/latest/reference/modding/texture-modding/convert-bump-mapped-mods.html#general-introduction-to-normal-map-conversion">the official OpenMW documentation</a> for a complete reference on the topic of renaming texture files.</p>

  <p>Many texture mods that use special maps (normal, specular, etc) and are made for vanilla Morrowind have a filename like this:</p>

  <pre><code>tx_glass_amber_redoran_nm.dds</code></pre>

  <p>Or this:</p>

  <pre><code>tx_glass_amber_redoran_normal.dds</code></pre>

  <p>Or anything that's not <code>_n.dds</code>, in the case of a normal map.  Some mods may even ship with a file name like <code>_normals.dds</code>.  In these cases, the best way to ensure they work with OpenMW is to rename the files to conform to what OpenMW expects them to be by default.</p>

  <h5 id="unixes" class="bold"><a class="noul" href="#unixes">Linux/macOS/Other UNIX</a></h5>

  <p><span class="bold">The following is for advanced users only!</span> On UNIX-like OSes such as Linux or macOS, a simple command-line can be used:</p>

  <p class="bold">If you aren't comfortable or at least a little familiar with using shell commands, do not just try to copy paste what's below. I am not responsible for problems caused by improper shell usage!</p>

  <pre><code>#!/bin/bash

# Establish an absolute dir path.
this_dir=$(realpath $(dirname ${0}))

# Forloops have trouble with things that have spaces in the name.  Fix that.
oldifs=$IFS
IFS=$(echo -en "\n\b")

# Files first.
for f in $(find -type f "${this_dir}" -iname "*_nm.dds"); do
    mv -iv $f $(echo $f | sed 's|_nm|_n|g')
done

# Then dirs.
for f in $(find -type d "${this_dir}" -iname "*_nm.dds"); do
    mv -iv $f $(echo $f | sed 's|_nm|_n|g')
done

# Restore $IFS
IFS=$oldifs</code></pre>

  <p>And so on.  Usual command-line tools such as <code>rename</code> don't do the job since file names can have spaces and other quirks that cause failures and unexpected results.</p>

  <p>So when file renames are needed, simply adapt the examples seen above (inserting <code>echo</code> as needed for dry-runs) for the file name changes you need.</p>

  <h5 id="windows" class="bold"><a class="noul" href="#windows">Windows</a></h5>

  <p><span class="bold">As is mentioned above in the UNIX section, the following is for advanced users only!  I am not responsible for bad things you do via command line mishaps!</span></p>

  <p>Now, where were we?  The above could work if you're a user of the Linux Subsystem For Windows stuff, but for a more native solution one can use PowerShell commands:</p>

  <pre><code># Renames all _nm.dds files to _n.dds, run this after cd'ing to C:\games\OpenMWMods
Get-ChildItem -Recurse '*_nm.dds' | Rename-Item -NewName {$_.Name -replace '_nm.dds','_n.dds'}</code></pre>

  {% include "tips-nav.html" with cur_page="tips-file-renames" %}

  {% include "main-nav.html" with cur_page="tips-file-renames" prev_link=False next_link=False %}

{% endblock %}
